@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
}

main {
  width: 90%;
  max-width: 140rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #101419;
  color: #f0f6f8;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin-left: 0 !important;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
} */
.MuiTableContainer-root {
  box-shadow: none;
}

.MuiTable-root {
  border-collapse: separate;
  border-spacing: 0 10px;
  border: transparent;
}

.MuiTable-root th,
.MuiTable-root td {
  border-bottom: 10px solid black;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
